.d3-container {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  position: absolute;
  width: 300px;
  height: width/0.8;
  overflow: hidden;
}

.d3-header {
  border-style: solid;
  border-color: lightblue;
  border-width: 2px;
  background-color: white;
  width: 100% - 2*border-width;
  height: 20%;
  min-height: 20%;
}

.d3-chart {
  width: 100%;
  height: 80%;    
  min-width: 300px - 4px;
  min-height: 300px;
}   

.d3-chart .axis path,   
.d3-chart .axis line {
  stroke: #999;   
}   

.d3-chart .axis text {
  fill: #999;
}