<div
  class="d3-container"

  xplorioDrag
  [handle]="Header"
  (started)="startedDragging()"
  (stopped)="stoppedDragging()"
  [style.z-index]="indexOfZ | async"

  ngResizable
  [directions]="['bottom', 'top', 'left', 'right', 'top-left', 'bottom-left', 'top-right', 'bottom-right']"
  [minWidth]="320"
  [minHeight]="400"
  (resizeEnd)="recreateChart()"

  [style.left]="left"
  [style.top]="top"
>
    <div #Header class="d3-header">
      <button (click)="delete()">x</button>
      <button (click)="setEqualAxes()">equal axes</button>
      <button (click)="setSimpleAxes()">simple axes</button>
      <h3>#{{index}} - {{name}}</h3>
    </div>
    <div class="d3-chart" #lineChart></div>  
</div>
