<div>
  <h2>Plot of 1st and 2nd series</h2>
  <svg [attr.width]="width" [attr.height]="width">
    <svg:g *ngFor="let line of lines">
      <svg:line *ngFor="let segment of line.segments" [attr.x1]="segment[0]" [attr.y1]="segment[1]" [attr.x2]="segment[2]" [attr.y2]="segment[3]" style="stroke:rgba(255,0,0,0.5);" />
    </svg:g>
    <!-- <line *ngFor="let line of lines[1]" [attr.x1]="line[0]" [attr.y1]="line[1]" [attr.x2]="line[2]" [attr.y2]="line[3]" style="stroke:rgb(255,0,0);" /> -->
  </svg>

  <!-- PLOTLY -->
  <div style="margin-bottom:100px;">
    <div id="myPlotlyDiv"
         name="myPlotlyDiv"
         style="width: 480px; height: 400px;">
        <!-- Plotly chart will be drawn inside this DIV -->
    </div>
  </div>
  <div *ngIf="displayRawData">
      raw data:
      <hr />
      <span>{{data | json}}</span>
      <hr />
      layout:
      <hr />
      <span>{{layout | json}}</span>
      <hr />
  </div>

</div>
