<div>
  <h2>Plot of 1st and 2nd series</h2>
  <svg [attr.width]="width" [attr.height]="width">
    <svg:g *ngFor="let line of lines">
      <svg:line *ngFor="let segment of line.segments" [attr.x1]="segment[0]" [attr.y1]="segment[1]" [attr.x2]="segment[2]" [attr.y2]="segment[3]" style="stroke:rgba(255,0,0,0.5);" />
    </svg:g>
    <!-- <line *ngFor="let line of lines[1]" [attr.x1]="line[0]" [attr.y1]="line[1]" [attr.x2]="line[2]" [attr.y2]="line[3]" style="stroke:rgb(255,0,0);" /> -->
  </svg>

</div>
